---
layout: page
title: "About"
description: "Hey, this is Hux."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    
    <p style="text-align:left;">
        亲爱的马克西米利安：
    </p>
    岛边为你们停泊着一艘小帆船。雅各布会把你们带到里窝那去，诺瓦蒂埃先生正在那儿等着他的孙女儿，希望能在您领她上圣坛以前先为她祝福。我的朋友，这座岩洞里的全部财宝，我在香榭丽舍林荫大道的宅邸以及在特雷波尔的城堡，都是埃德蒙·唐戴斯送给莫雷尔船主的儿子的结婚礼物。也请德·维尔福小姐俯允接受其中的一半，因为我想请她将她从已经发疯的父亲的名下，以及从已于九月份同她的继母一起去世的弟弟的名下继承的全部财产，都捐赠给巴黎的穷人。<br><br>莫雷尔，请告诉这位将终生眷顾您的天使，让她有时为这样一个人祈祷吧，他一度曾经像撒旦那样，自以为能跟天主匹敌，但后来终于怀着一个基督徒的谦卑心情认识到了，只有天主才拥有至高无上的权力和无穷无尽的智慧。她的祈祷，也许可以减轻一些他在心底里感到的愧疚。<br><br>至于您，莫雷尔，我要告诉您的秘密是：这个世界上无所谓幸福，也无所谓不幸，有的只是一种境况和另一种境况的比较，如此而已。只有体验过极度不幸的人，才能品尝到极度的幸福。只有下过死的决心的人，马克西米利安，才会知道活着有多好。<br><br>幸福地生活下去吧，我心爱的孩子们，请你们永远别忘记，直至天主垂允为人类揭示未来图景的那一天来到之前，人类的全部智慧就包含在这五个字里面：<br><br>
    <blockquote>
        等待和希望！
    </blockquote>
    库克与购买苹果手机的果粉们兴致勃勃地参观了苹果专卖店，和员工们拉了拉家常，并饶有兴趣地玩了四盘切西瓜游戏，与普通员工同乐。<br><br>在交谈中，库克多次关心地强调：“有了iPhone 5C，就不卖iPhone 5了。”并对顾客说：“好好休息，身体是革命的本钱嘛！”会谈始终在亲切友好的气氛中进行。<br><br>顾客们就库克的讲话达成了广泛的共识，并承认世界上只有iOS最流畅，要紧紧的团结在以库克先生为首席执行官的苹果公司集体周围，一心一意抓学习，聚精会神谋发展。<br>
    <br>帕洛阿尔托苹果专卖店当日原则通过《蒂姆·库克首席执行官在加州新苹果店的讲话纪要》，并下发各分店认真学习、研讨。

    <p style="text-align:right;">
        —— 您的朋友　埃德蒙·唐戴斯
    </p>
    <p style="text-align:right;">
        基督山伯爵
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
